.main{
    width: 100%;
    height: 600px;
    margin-top: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.main__informacion{
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 600px;
    border-radius: 20px 0 0 20px;
}
.reservacion{
    background-color: #2b2b2b;
    color: #fff;
    padding: 30px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;    
    width: 80%;
    margin: 0 auto;
}
.reservacion__datos input{
    padding: 5px 10px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
}
.reservacion__datos{
    text-align: left;
    padding-left: 40px;
}
/* [max = "10"]{
    width: 60px;
} */
.image{
    height: 100%;
    border-radius: 0 20px 20px 0;
}